* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: #a14008;
  line-height: 3rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #610a039c;
  line-height: 3rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #610a039c;
  line-height: 3rem;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.562rem;
  letter-spacing: 1px;
}


/* ************ NAV ************** */
.navigation-wrap {
  /* position: fixed; */
  width: 100%;
}

.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;


}

.nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  color: rgba(67, 93, 220, 0.854);
}


/* ************ Home ************** */


.top-banner {
  background: url(bg-1.jpg) no-repeat center;
  background-size: cover;
  padding: 6.875rem 0 5.375rem;
}

.order-btn {
  background-color: #a14008;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

.order-btn::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.order-btn:hover::before {
  transform: scaleX(1);
}

.order-btn:hover {
  border: solid #8e9805;
  color: black;
}


/* ************ About Us ************** */


.about-section {
  margin-top: 100px;
}

.about-section .card,
.about-section .card img {
  border-radius: 0.625rem;
}

.about-section .text-sec {
  padding-left: 2rem;
}

.food-type {
  padding-top: 3.25rem;
}

.food-type ul li {
  font-size: 1rem;
  line-height: 30px;
  position: relative;
  padding-left: 30px;
}

.food-type ul li::before {
  position: absolute;
  color: #a14008;
  left: -0.187rem;
  font-size: 1.25rem;
  font-family: "Font Awesome 5 Free";
  content: '\f00c';
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

.story-section {
  width: 100%;
  height: 28.125rem;
  background: url(/bg-2.jpg) no-repeat center;
  background-size: cover;
  padding-top: 100px;
  text-align: center;
}

.story-section h2 {
  color: #a14008;
  text-align: left;
}

.story-section p {
  text-align: left;

}

.story-section button {
  display: flex;
  justify-content: start;
}



.explore-food {
  margin-top: 100px;
}

.explore-food .card {
  border: none;
  background-color: transparent;
  border-radius: 0.9375rem;
}

.explore-food .card img {
  border-radius: 0.9375rem;
  object-fit: cover;
}

.explore-food .card span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #a14008;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #eee;
}


.explore-food .card span del {
  color: gray;
  padding-left: 0.3rem;
}

.explore-food .card button {
  display: flex;
  justify-content: center;
  align-items: center;
}





.review-section {
  background-color: #e3966a;
  margin-top: 100px;
}

.review-text {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #a14008;
  line-height: 3rem;
  text-align: center;

}



.review-section .carousel-item {
  margin-top: 3rem !important;
  padding: 10rem 3.125rem !important;
  background-color: rgba(233, 224, 129, 0.426) !important;
  border-radius: 0.9375rem !important;
  text-align: center !important;
}

.review-section .carousel-caption img {
  max-width: 5rem;
  border-radius: 50%;
  padding: 0.3125rem;
}

.review-section .carousel-item .carousel-caption p {
  font-size: 16px;
  line-height: 28px;
  padding: 0 5% 0.625rem;
  color: black;
  text-align: left;
}

.review-section .carousel-indicators {
  color: #e3966a;
  bottom: -0.8125rem
}

.review-section .carousel-indicators button {
  width: 15px;
  height: 15px;
  outline: none;
  border-radius: 50%;
  border: none;
  margin-right: 1rem;
  opacity: 0.2;
}

.review-section .carousel-indicators button.active {
  opacity: 1;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: transparent;
  border-radius: 0.9375rem;
}

.menu-item img {
  height: 188.22px;
  width: 288px;
  border-radius: 0.9375rem;
  object-fit: cover;
}

.menu-item span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #a14008;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #eee;
}

.menu-item span del {
  color: gray;
  padding-left: 0.3rem;
}



.food-items {
  margin-top: 100px;
  text-align: center;
}


.indian-food {
  height: 500.22px;
  width: 100%;
  border-radius: 0.9375rem;
  object-fit: cover;
}